<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>plataforma de IOT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">CRUD</a>
    </nav>
    
    <div class="container">
        <div class="col-md-5">
           <div class="card">
               <div class="card-body">
                   <form action="/add" method="POST">
                    <div class="form-group">
                        <input type="text" name="Id" placeholder="Id" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="Desarrollador" placeholder="Desarrollador" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="Entregas" placeholder="Entregas" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="Distribuidora" placeholder="Distribuidora" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="Plataforma" placeholder="Plataforma" class="form-control">
                    </div>
                    <button class="btn btn-primary">Registrar</button>
                </form>
               </div>
           </div>
        </div>
        <div class="col-md-5">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>Desarrollador</th>
                        <th>Entregas</th>
                        <th>Distribuidora</th>
                        <th>Plataforma</th>
                        <th>Opciones</th>
                        <th>Actualizar</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < distribucion.length; i++){  %>
                        <tr>
                            <td><%= i+1  %></td>
                            <td><%= distribucion[i].id  %></td>
                            <td><%= distribucion[i].Desarrollador  %></td>
                            <td><%= distribucion[i].Entregas  %></td>
                            <td><%= distribucion[i].Distribuidora  %></td>
                            <td><%= distribucion[i].Plataforma  %></td>
                            <td><a href='/del/<%= distribucion[i].id %>'>Eliminar</a>
                                <a href='/up/<%= distribucion[i].id %>'>Actualizar</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>